/// Images

img {
  display: block;
  max-width: 100%;
}
img.img-inline {
  display: inline-block;
  vertical-align: bottom;
}
.coin-logo {
  display: block;
  float: left;
  height: $base-font-size*$base-line-height;
  width: $base-font-size*$base-line-height;
  margin-right: $gutter;
}
.coin-logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
.kin-logo-sm {
  width: 40px;
  height: 40px;
}
