/// Modifiers

// Modifiers > Borders

.is-rounded {
  border-radius: $default-border-radius;
}
.is-rounded-top {
  border-top-right-radius: $default-border-radius;
  border-top-left-radius:  $default-border-radius;
}
.is-rounded-bottom {
  border-bottom-right-radius: $default-border-radius;
  border-bottom-left-radius:  $default-border-radius;
}
.with-border {
  border: 1px solid $grey-color;
}
a.with-border {
  display: block;
}
a.with-border:hover,
a.with-border:focus {
  border-color: $brand-color;
}
.with-border-bottom {
  border-bottom: 1px solid $grey-med-color;
}
.with-border-top {
  border-top: 1px solid $grey-med-color;
}
.with-border-left {
  position: relative;
}
.with-border-left:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 5px solid $grey-color;
}

// Modifiers > Fills

.fill-grey-light {
  background: $grey-light-color;
}
.fill-grey-med {
  background: $grey-med-color;
}
.fill-grey {
  background: $grey-color;
  color: $white;
}
.fill-grey-dark {
  background: $grey-dark-color;
  color: $white;
}
.fill-grey-darkest {
  background: $grey-darkest-color;
  color: $white;
}
.fill-white {
  background: $white;
  color: $grey-dark-color; // TODO: update if page has a light background and this is not the text color
}
.fill-black {
  background: $black;
  color: $white;
}
.fill-brand {
  background: $brand-color;
}
.fill-brand-light {
  background: $brand-light-color;
}
.fill-success {
  background: $success-color;
  color: $white;
}
.fill-warn {
  background: $warn-color;
  color: $white;
}
