// Setup: Variables & Mixins
//
// This file is injected into every Vue component and SCSS file

// Colors
$white:               #FFF;
$black:               #000;
$grey-light-color:    #766998;
$grey-med-color:      #684CAB;
$grey-color:          #40277C;
$grey-dark-color:     #280F5A;
$grey-darkest-color:  #1E0F45;
$brand-color:         #00E4FF;
$brand-light-color:   lighten($brand-color, 10%);
$background-color:    $white;
$text-color:          $grey-dark-color;
$success-color:       green; // TODO
$warn-color:          red; // TODO

$facebook-color:          #405993;
$facebook-dark-color:     darken($facebook-color, 10%);
$twitter-color:           #499FEC;
$twitter-dark-color:      darken($twitter-color, 10%);

// Typography
$base-text-align: left; // switch for rtl
$sans-serif-stack: "neue-haas-grotesk-display", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-stack: "mongoose", "Helvetica CY", "Impact", sans-serif;
$base-font-size: 18px;
$base-font-weight: 500;
$bold-font-weight: 700;
$base-line-height: 1.6;

$font-size-1: 178px;
$font-size-2: 62px;
$font-size-3: 28px;
$font-size-4: 24px;
// $font-size-5: 14px;
$font-size-6: 12px;

$m-font-size-1: 80px;
$m-font-size-2: 48px;
$m-font-size-3: 22px;
$m-font-size-4: 20px;
$m-font-size-6: 10px;

// Layout
$gutter: 10px;
$site-max-width: 1040px;
$header-height: 62px;

// Decoration
$default-transition: all 0.3s ease-in-out;
$default-border-radius: 5px;

// Media Query Mixins
$fix-mqs: false !default;

@mixin respond-to($content) {
  @if $fix-mqs {
    @if $content == med {
      $content: 900px;
    } @else if $content == sml {
      $content: 500px;
    }
    @if $fix-mqs >= $content {
      @content;
    }
  }
  @else {
    @if $content == lrg {
      @media only screen and (min-width: 900px) { @content; }
    } @else if $content == med {
      @media only screen and (min-width: 500px) { @content; }
    } @else if $content == sml {
      @media only screen and (min-width: 0px) { @content; }
    } @else {
      @media only screen and (min-width: $content) { @content; }
    }
  }
}

@mixin respond-to-max($content) {
  @if $content == lrg {
    @media only screen and (max-width: 1159px) { @content; }
  } @else if $content == med {
    @media only screen and (max-width: 899px) { @content; }
  } @else if $content == sml {
    @media only screen and (max-width: 499px) { @content; }
  } @else {
    @media only screen and (max-width: $content) { @content; }
  }
}
