// Setup: Variables & Mixins
//
// This file is injected into every Vue component and SCSS file

// Colors
$white:               #FFF;
$black:               #000;
$grey-lightest-color: #f9f9f9;
$grey-lighter-color:  #E2E2E2;
$grey-light-color:    #F2F2F2;
$grey-med-color:      #C4C4C4;
$grey-color:          #40277C;
$grey-dark-color:     #280F5A;
$grey-darkest-color:  #1E0F45;
$brand-color:         #6645F5;
$brand-light-color:   lighten($brand-color, 15%);
$background-color:    $white;
$text-color:          $black;
$success-color:       #36EF8B;
$warn-color:          #EB3B43;
$dark-blue-color:     #0F325A;

$facebook-color:          #405993;
$facebook-dark-color:     darken($facebook-color, 10%);
$twitter-color:           #499FEC;
$twitter-dark-color:      darken($twitter-color, 10%);

// Typography
$base-text-align: left; // switch for rtl
$sans-serif-stack: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-stack: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack: "IBM Plex Serif", "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace-stack: "IBM Plex Monospace", "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$bold-font-weight: 700;
$base-line-height: 1.6;

$font-size-1: 32px;
$font-size-2: 28px;
$font-size-3: 28px;
$font-size-4: 18px;
// $font-size-5: 14px;
$font-size-6: 14px;

$m-font-size-1: 38px;
$m-font-size-2: 28px;
$m-font-size-3: 18px;
$m-font-size-4: 18px;
$m-font-size-6: 14px;

// Layout
$gutter: 10px;
$site-max-width: 1040px;
$header-height: 62px;

// Decoration
$default-transition: all 0.3s ease-in-out;
$default-border-radius: 5px;

// Media Query Mixins
$fix-mqs: false !default;

@mixin respond-to($content) {
  @if $fix-mqs {
    @if $content == med {
      $content: 900px;
    } @else if $content == sml {
      $content: 500px;
    }
    @if $fix-mqs >= $content {
      @content;
    }
  }
  @else {
    @if $content == lrg {
      @media only screen and (min-width: 900px) { @content; }
    } @else if $content == med {
      @media only screen and (min-width: 500px) { @content; }
    } @else if $content == sml {
      @media only screen and (min-width: 0px) { @content; }
    } @else {
      @media only screen and (min-width: $content) { @content; }
    }
  }
}

@mixin respond-to-max($content) {
  @if $content == lrg {
    @media only screen and (max-width: 1159px) { @content; }
  } @else if $content == med {
    @media only screen and (max-width: 899px) { @content; }
  } @else if $content == sml {
    @media only screen and (max-width: 499px) { @content; }
  } @else {
    @media only screen and (max-width: $content) { @content; }
  }
}
